<div class="container">
   <div class="filterBlock row">
      <div class="col col-md-4 col-lg-6"></div>
      <div class="col col-md-8 col-lg-6">
         <div class="text-center card">
            <div class="card-body">
               <form class="">
                  <div class="label-animation  form-group"><input type="text" name="filterKey" id="FilterKey" placeholder="filter artists" value="" class="form-control form-control"><label for="FilterKey" class="font-italic helper-label  form-control-label">filter artists</label></div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <p></p>
</div>